@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  --moderate_cyan: hsl(176, 50%, 47%);
  --dark_cyan: hsl(176, 72%, 28%);
  --dark_gray: hsl(0, 0%, 48%);
}

body {
  font-family: 'Commissioner', sans-serif;
  background-color: #eee;
  font-size: 16px;
}

nav {
  z-index: 5;
  width: 89vw;
  margin-top: 44vh;
  font-weight: 800;
}

.title {
  font-weight: 700;
  line-height: 1;
}
p {
  color: var(--dark_gray);
}

.btn {
  background-color: var(--moderate_cyan);
}

.btn:hover {
  background-color: var(--dark_cyan);
}

.mastercraft-logo {
  position: absolute;
  left: 50%;
  top: -11%;
  transform: translateX(-50%);
}

.desc,
.title-pledge:hover {
  color: var(--moderate_cyan);
}

.line {
  width: 30%;
  margin: 1rem 0;
}

.data > article:last-child,
.mahogany {
  opacity: .5;
}

.data > article:last-child button {
  background-color: #9b9b9b;
}

#modal {
  background: rgba(150, 150, 150, 50%);
  top: 0;
  z-index: 12;
}

.circle {
  width: 32px;
  height: 32px;
  background-color: hsl(0, 0%, 87%);
  border-radius: 50%;
}
.circle::before {
  content: "";
  position: absolute;
  transform: translate(2px, 2px);
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
}
.circle.select::after {
  content: "";
  position: absolute;
  transform: translate(7px, 7px);
  width: 18px;
  height: 18px;
  background-color: var(--moderate_cyan);
  border-radius: 50%;
}

.parag {
  font-size: .89em;
}

article {
  overflow: hidden;
}

hr {
  position: relative;
  right: 10%;
  width: 120%;
}

@media (min-width: 650px) {
  .title {
    font-size: 1.75em;
  }

  .mastercraft-logo {
    top: -13%;
  }

  .parag {
    font-size: .92em;
  }
}