@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

body {
  font-family: 'Commissioner', sans-serif;
  background-color: #ccc;
}

.btn {
  background-color: hsl(176, 72%, 28%);
}

.mastercraft-logo {
  position: absolute;
  left: 50%;
  top: -13%;
  transform: translateX(-50%);
}

.desc {
  color: hsl(176, 72%, 28%);
}

.line {
  width: 20%;
  margin: 1rem 0;
}

.data > article:last-child {
  opacity: .5;
}

.data > article:last-child button {
  background-color: #9b9b9b;
}

.modal {
  display: block;
}