@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  --moderate_cyan: hsl(176, 50%, 47%);
  --dark_cyan: hsl(176, 72%, 28%);
  --dark_gray: hsl(0, 0%, 48%);
}

body {
  font-family: 'Commissioner', sans-serif;
  background-color: #ccc;
}

.title {
  font-weight: 700;
  font-size: 1.75em;
}

p {
  color: var(--dark_gray);
}

.btn {
  background-color: var(--moderate_cyan);
}

.btn:hover {
  background-color: var(--dark_cyan);
}

.mastercraft-logo {
  position: absolute;
  left: 50%;
  top: -13%;
  transform: translateX(-50%);
}

.desc {
  color: hsl(176, 72%, 28%);
}

.line {
  width: 20%;
  margin: 1rem 0;
}

.data > article:last-child {
  opacity: .5;
}

.data > article:last-child button {
  background-color: #9b9b9b;
}

.modal {
  display: block;
}

@media (min-width: 650px) {
  
}